<!-- Header -->
<header>
<!-- Header desktop -->
<div class="container-menu-desktop">
<div class="topbar">
<div class="content-topbar container h-100">
<div class="left-topbar">
<span class="left-topbar-item flex-wr-s-c">
<span>
New York, NY
</span>

<img class="m-b-1 m-rl-8" src="/assets/img/icons/icon-night.png" alt="IMG">

<span>
HI 58° LO 56°
</span>
</span>

<a href="/about" class="left-topbar-item">
About
</a>

<a href="#contact-01" class="left-topbar-item">
Contact
</a>
</div>

<div class="right-topbar">
<a href="#">
<span class="fab fa-facebook-f"></span>
</a>

<a href="#">
<span class="fab fa-twitter"></span>
</a>

<a href="#">
<span class="fab fa-pinterest-p"></span>
</a>

<a href="#">
<span class="fab fa-vimeo-v"></span>
</a>

<a href="#">
<span class="fab fa-youtube"></span>
</a>
</div>
</div>
</div>

<!-- Header Mobile -->
<div class="wrap-header-mobile">
<!-- Logo moblie -->		
<div class="logo-mobile">
<a href="/"><img src="/assets/img/icons/logo-01.jpg" alt="IMG-LOGO"></a>
</div>

<!-- Button show menu -->
<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
<span class="hamburger-box">
<span class="hamburger-inner"></span>
</span>
</div>
</div>

<!-- Menu Mobile -->
<div class="menu-mobile">
<ul class="topbar-mobile">
<li class="left-topbar">
<span class="left-topbar-item flex-wr-s-c">
<span>
New York, NY
</span>

<img class="m-b-1 m-rl-8" src="/assets/img/icons/icon-night.png" alt="IMG">

<span>
HI 58° LO 56°
</span>
</span>
</li>

<li class="left-topbar">
<a href="/about" class="left-topbar-item">
About
</a>

<a href="#contact-01" class="left-topbar-item">
Contact
</a>
</li>

<li class="right-topbar">
<a href="#">
<span class="fab fa-facebook-f"></span>
</a>

<a href="#">
<span class="fab fa-twitter"></span>
</a>

<a href="#">
<span class="fab fa-pinterest-p"></span>
</a>

<a href="#">
<span class="fab fa-vimeo-v"></span>
</a>

<a href="#">
<span class="fab fa-youtube"></span>
</a>
</li>
</ul>

<ul class="main-menu-m">
{% for category in site.data.content_categories %}
<li>
  {% for title in category[0] %}
    {% if title[0] == "os" %}
<a href="/category/{{ title[0] }}" style="text-transform:uppercase;">{{ title[0] }} </a>
    {% else %}
<a href="/category/{{ title[0] | replace: ' ', '-' }}" style="text-transform:capitalize;">{{ title[0] }} </a>
    {% endif %}
  {% endfor %}
</li>
{% endfor %}  
</ul>
</div>

<!--  -->
<div class="wrap-logo container">
<!-- Logo desktop -->		
<div class="logo">
<a href="/"><img src="/assets/img/icons/logo-01.jpg" alt="LOGO"></a>
</div>	

<!-- Banner -->
<div class="banner-header">
<a href="#"><img class="round-edge" src="/assets/img/banner-06.jpg" alt="IMG" height="90" width="728"></a>
</div>
</div>	

<!--  -->
<div class="wrap-main-nav">
<div class="main-nav">
<!-- Menu desktop -->
<nav class="menu-desktop">
<a class="logo-stick" href="/">
<img src="/assets/img/icons/logo-01.jpg" alt="LOGO" >
</a>

<ul class="main-menu">



{% for category in site.data.content_categories %}

<li class="mega-menu-item">
  {% for title in category[0] %}
    {% if title[0] == "os" %}
<a href="/category/{{ title[0] }}" style="text-transform:uppercase;">{{ title[0] }} </a>
    {% else %}
<a href="/category/{{ title[0] | replace: ' ', '-' }}" style="text-transform:capitalize;">{{ title[0] }} </a>
    {% endif %}
  {% endfor %}

<div class="sub-mega-menu">
<div class="nav flex-column nav-pills" role="tablist">

{% for frameworks in category[1] %}
  {% assign tab_id = 0 %}
  {% for framework in frameworks[1] %}
    {% assign tab_id = tab_id | plus:1 %}
      {% if tab_id == 1 %}
<a class="nav-link active" data-toggle="pill" href="#{{ framework.name | remove: ' ' }}" role="tab">{{ framework.name}}</a>
      {% else %}
<a class="nav-link" data-toggle="pill" href="#{{ framework.name | remove: ' ' }}" role="tab">{{ framework.name}}</a>
      {% endif %}
<!--<a class="nav-link" data-toggle="pill" href="#enter-2" role="tab">Angular</a>
<a class="nav-link" data-toggle="pill" href="#enter-3" role="tab">Jekyll</a> -->
  {% endfor %}
{% endfor %}
</div>

<div class="tab-content">
{% for frameworks in category[1] %}
  {% assign tab_id = 0 %}
  {% for framework in frameworks[1] %}
    {% assign tab_id = tab_id | plus:1 %} 
    
      {% if tab_id == 1 %}
<div class="tab-pane show active" id="{{ framework.name | remove: ' ' }}" role="tabpanel">
      {% else %}
<div class="tab-pane" id="{{ framework.name | remove: ' ' }}" role="tabpanel">
      {% endif %}
<div class="row">
    {% for list in framework.list %}
<div class="col-3">
<!-- Item post -->	
<div>
<a href="{{ list.url }}" class="wrap-pic-w hov1 trans-03">
<img src="{{ list.img }}" alt="IMG" height="120">
</a>

<div class="p-t-10">
<h5 class="p-b-5">
<a href="{{ list.url }}" class="f1-s-5 cl3 hov-cl10 trans-03">
{{ list.name }}
</a>
</h5>

<span class="cl8">
<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
{{ framework.name}}
</a>

<span class="f1-s-3 m-rl-3">
<!-- - -->
</span>

<span class="f1-s-3">
<!-- date here -->
</span>
</span>
</div>
</div>
</div>
    {% endfor %}
</div>
</div>
  {% endfor %}
{% endfor %}
</div>
</div>
</li>
{% endfor %}

</ul>
</nav>
</div>
</div>	
</div>
</header>

<!-- Headline -->
<div class="container">
<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
<div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
<span class="text-uppercase cl2 p-r-8">
Did You Know:
</span>

<span class="dis-inline-block cl6 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
<span class="dis-inline-block slide100-txt-item animated visible-false">
You can get a fully customized system for your business from us 
</span>

<span class="dis-inline-block slide100-txt-item animated visible-false">
You can learn and master software engineering right here
</span>

<span class="dis-inline-block slide100-txt-item animated visible-false">
We build information systems and websites to support your business 
</span>
</span>
</div>

<div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="query" id="query" placeholder="Search content">
<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
<i class="zmdi zmdi-search"></i>
</button>
</div>

<div class="container">
<div class="row m-rl--1">
<ul class="search" id="results-container"><!-- inserts li from search results --></ul>
</div>
</div>

</div>
</div>

