<style>
 img {
  width: auto;
  height: auto;
 }
</style>

<!-- Header -->
<header id="header">
 <div class="logo"><a href="/" class="logo">
  <img src="{{site.baseurl}}/assets/img/logo.jpg" alt="" /></a>
 </div>
   <ul class="icons">
    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
  </ul>
</header>
<!-- End of Header -->
